$yellow: #E3AD14
$black: #2D2D2D
$grey: #757373
$dark: #202020

$mFont: 'Inter'
$hFont: 'Montserrat'

.container
  width: 1320px
  padding: 0 15px
  box-sizing: border-box
  margin: 0 auto

body
  font-family: $mFont, $hFont, sans-serif

h1, h2, h3, h4, h5, h6
  font-family: $hFont, $mFont, sans-serif