@import "../fonts/fonts.css";
body {
  margin: 0;
  padding: 0;
  line-height: 1;
}

a {
  text-decoration: none;
  color: #000;
  transition: all 0.2s ease-in-out;
}

input:focus, textarea:focus {
  outline: none;
}

.container {
  width: 1320px;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  font-family: "Inter", "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", "Inter", sans-serif;
}

.btn {
  background: #2D2D2D;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  padding: 18px 0;
  text-align: center;
  display: inline-block;
}

.heading {
  padding-left: 30px;
  position: relative;
}
.heading:before {
  content: "";
  width: 75px;
  height: calc(100% + 1px);
  border: 5px solid #E3AD14;
  position: absolute;
  top: -5px;
  left: 0;
}
.heading h2 {
  color: #2D2D2D;
  text-transform: uppercase;
  font-size: 36px;
  position: relative;
  z-index: 2;
  background: #ffffff;
  margin: 0;
  padding: 27px 0;
}
.heading.reverse {
  padding-left: 0;
  padding-right: 30px;
}
.heading.reverse:before {
  left: auto;
  right: 0;
}
.heading.reverse h2 {
  text-align: right;
}

.top-header {
  background: #202020;
  padding: 12px 0;
}
.top-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-header_contact {
  display: flex;
  column-gap: 25px;
}
.top-header_contact p {
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  margin: 0;
}
.top-header_contact ul {
  margin: 0;
  padding: 0;
}
.top-header_contact ul li {
  list-style: none;
}
.top-header_contact ul li a {
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
}
.top-header_contact .request-btn {
  margin-top: 5px;
  color: #E3AD14;
  text-decoration: underline;
  font-size: 14px;
  line-height: 19px;
  display: block;
  text-align: right;
}
.top-header_contact-phone {
  padding-left: 27px;
  position: relative;
}
.top-header_contact-phone:before {
  content: "";
  background: url(../img/phone.png) no-repeat center center;
  width: 21px;
  height: 21px;
  position: absolute;
  left: 0;
  top: 0;
}
.top-header_contact-address {
  padding-left: 24px;
  position: relative;
}
.top-header_contact-address:before {
  content: "";
  background: url(../img/location.png) no-repeat center center;
  width: 17px;
  height: 21px;
  position: absolute;
  left: 0;
  top: 0;
}

.top-nav {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.06);
}
.top-nav ul {
  display: flex;
  column-gap: 30px;
  padding: 0;
  margin: 0;
  justify-content: center;
}
.top-nav ul li {
  list-style: none;
  font-size: 14px;
  line-height: 23px;
}
.top-nav ul li a {
  color: #2D2D2D;
  padding: 15px 0 12px;
  display: inline-block;
  border-bottom: 3px solid transparent;
  box-sizing: border-box;
}
.top-nav ul li.active a {
  border-color: #E3AD14;
  font-weight: 600;
}

.main-screen {
  padding: 80px 0 130px;
  background: #EDEDED;
  position: relative;
}
.main-screen:before {
  content: "";
  width: 100%;
  height: 45px;
  background: #E3AD14;
  position: absolute;
  bottom: 147px;
  left: 0;
}
.main-screen_info {
  width: 630px;
}
.main-screen_info .heading {
  padding: 35px 0 35px 25px;
  background: #EDEDED;
  position: relative;
}
.main-screen_info .heading h1, .main-screen_info .heading span {
  position: relative;
  z-index: 2;
  background: #EDEDED;
}
.main-screen_info .heading h1 {
  color: #2D2D2D;
  margin: 0;
  font-size: 48px;
  line-height: 64px;
  text-transform: uppercase;
}
.main-screen_info .heading span {
  font-family: "Montserrat", "Inter", sans-serif;
  font-size: 26px;
  color: #E3AD14;
  display: inline-block;
  padding-bottom: 10px;
}
.main-screen_info .heading:before {
  content: "";
  width: 220px;
  height: 100%;
  border: 10px solid #E3AD14;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
}
.main-screen_info p {
  font-size: 16px;
  line-height: 23px;
  width: 430px;
  margin: 20px 0 0;
}
.main-screen_info .btn {
  width: 220px;
  margin: 40px 0 0;
}
.main-screen_container {
  position: relative;
}
.main-screen_img {
  position: absolute;
  right: 0;
  top: 0;
}

.advantages {
  background: url(../img/adv-bg.png) no-repeat center center;
  background-size: cover;
  padding: 100px 0;
}
.advantages-container {
  display: flex;
  column-gap: 50px;
  justify-content: center;
}
.advantages-card {
  flex-basis: 250px;
  text-align: center;
}
.advantages-card_text {
  margin-top: 20px;
}
.advantages-card_text h3 {
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  color: #ffffff;
  font-weight: 600;
  font-family: "Inter", "Montserrat", sans-serif;
}

.items {
  padding-top: 150px;
}
.items-container {
  margin-top: 70px;
  display: flex;
  column-gap: 33px;
  flex-wrap: wrap;
  row-gap: 50px;
}
.items-card {
  flex-basis: calc(33.33% - 22px);
  border: 5px solid #E3AD14;
  border-right: none;
  box-sizing: border-box;
  padding: 10px 24px 40px;
}
.items-card_img {
  text-align: center;
}
.items-card_img img {
  max-width: 100%;
  height: auto;
}
.items-card h3 {
  font-size: 20px;
  color: #2D2D2D;
  text-align: center;
  margin: 5px 0 0;
  text-transform: uppercase;
}
.items-card ul {
  padding: 5px 0 0;
  margin: 0;
}
.items-card ul li {
  list-style: none;
  margin-top: 10px;
  font-size: 16px;
  line-height: 23px;
  color: #2D2D2D;
}
.items-card ul li span {
  color: #757373;
}
.items-card_price {
  margin-top: 25px;
  width: 100%;
}

.about {
  padding-top: 200px;
}
.about-info {
  background: url(../img/about-bg.png) no-repeat center right;
  padding: 85px 0 65px;
  margin-top: 20px;
}
.about-info_container {
  padding-left: 75px;
  width: 725px;
  box-sizing: border-box;
}
.about-info h3 {
  font-family: "Inter", "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 28px;
  margin: 0;
  color: #2D2D2D;
}
.about-info h4 {
  margin: 20px 0 0;
  font-size: 16px;
  line-height: 23px;
  color: #2D2D2D;
  font-family: "Inter", "Montserrat", sans-serif;
  font-weight: 600;
}
.about-info ul {
  padding: 0;
  margin: 0;
}
.about-info ul li {
  list-style: none;
  padding-left: 20px;
  position: relative;
  color: #2D2D2D;
  font-size: 16px;
  line-height: 23px;
  margin-top: 10px;
}
.about-info ul li:before {
  content: "";
  width: 10px;
  height: 10px;
  background: #2D2D2D;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -5px;
}
.about-info p {
  margin: 20px 0 0;
  font-size: 16px;
  line-height: 23px;
  color: #2D2D2D;
  font-weight: 600;
}

.info-block {
  padding: 150px 0;
}
.info-block_container {
  background: url(../img/info-bg.png) no-repeat bottom left;
  margin-top: 30px;
}
.info-block_content {
  width: 610px;
  margin-left: auto;
  padding: 70px 0 40px;
}
.info-block_content h3 {
  font-family: "Montserrat", "Inter", sans-serif;
  color: #2D2D2D;
  font-size: 20px;
  line-height: 28px;
  margin: 0;
}
.info-block_content p {
  font-size: 16px;
  line-height: 24px;
  color: #2D2D2D;
  margin: 10px 0 0;
}
.info-block_content p strong {
  font-weight: 600;
}
.info-block_content ul {
  padding: 0;
  margin: 0;
}
.info-block_content ul li {
  list-style: none;
  position: relative;
  margin-top: 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  padding-left: 20px;
}
.info-block_content ul li:before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #2D2D2D;
  position: absolute;
  left: 0;
  top: 10px;
}
.info-block_content .btn {
  margin-top: 20px;
  width: 350px;
}

.info-point {
  padding: 100px 0 150px;
  background: #2D2D2D;
}
.info-point .heading h2 {
  background: #2D2D2D;
  color: #ffffff;
}
.info-point-container {
  display: flex;
  column-gap: 30px;
  margin-top: 30px;
}
.info-point-block {
  flex-basis: 25%;
  background: #303030;
  position: relative;
  padding: 3px 5px;
}
.info-point-block:before {
  content: "";
  width: 75px;
  height: calc(100% - 7px);
  top: -1px;
  left: 0;
  border: 5px solid #E3AD14;
  position: absolute;
  z-index: 1;
}
.info-point-block_container {
  background: #303030;
  position: relative;
  z-index: 2;
  padding: 40px 20px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.info-point-block_container:after {
  position: absolute;
  height: 36px;
  top: 11px;
  right: 14px;
}
.info-point-block:nth-child(2n+1) {
  transform: translateY(50px);
}
.info-point-block:first-child .info-point-block_container:after {
  content: "";
  background: url(../img/info-01.png) no-repeat center center;
  width: 47px;
}
.info-point-block:nth-child(2) .info-point-block_container:after {
  content: "";
  background: url(../img/info-02.png) no-repeat center center;
  width: 58px;
}
.info-point-block:nth-child(3) .info-point-block_container:after {
  content: "";
  background: url(../img/info-03.png) no-repeat center center;
  width: 58px;
}
.info-point-block:nth-child(4) .info-point-block_container:after {
  content: "";
  background: url(../img/info-04.png) no-repeat center center;
  width: 64px;
}
.info-point-block h3 {
  color: #ffffff;
  font-size: 16px;
  line-height: 23px;
  margin: 0;
}
.info-point-block p {
  font-size: 14px;
  line-height: 20px;
  color: #CCCCCC;
  margin: 10px 0 0;
  max-width: 230px;
}

.contact-form {
  margin-top: 150px;
  height: 447px;
  background: url(../img/contact-bg.png) no-repeat center right;
}
.contact-form form {
  width: 330px;
  margin-left: 160px;
  padding: 70px 0 0;
}
.contact-form form h3 {
  font-size: 25px;
  line-height: 35px;
  margin: 0;
  color: #2D2D2D;
  font-family: "Inter", "Montserrat", sans-serif;
}
.contact-form form p {
  margin: 10px 0 0;
  font-size: 14px;
  line-height: 20px;
  color: #2D2D2D;
}
.contact-form form span {
  margin-top: 10px;
  width: 100%;
  display: inline-block;
}
.contact-form form input {
  width: 100%;
  height: 50px;
  border: 1px solid #443E3E;
  padding: 0 20px;
  color: #2D2D2D;
  background: transparent;
}
.contact-form form input::-moz-placeholder {
  color: #443E3E;
  opacity: 1;
}
.contact-form form input::-webkit-input-placeholder {
  color: #443E3E;
  opacity: 1;
}
.contact-form form .agree {
  margin-top: 20px;
}
.contact-form form .agree input {
  display: none;
}
.contact-form form .agree label {
  font-size: 12px;
  line-height: 17px;
  color: #2D2D2D;
  padding-left: 28px;
  position: relative;
  display: inline-block;
}
.contact-form form .agree label.active:after {
  display: block;
}
.contact-form form .agree label:before {
  content: "";
  width: 18px;
  height: 18px;
  border: 1px solid #2D2D2D;
  border-radius: 2px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 2px;
}
.contact-form form .agree label:after {
  content: "";
  background: url(../img/checkbox.png) no-repeat center;
  width: 13px;
  height: 8px;
  position: absolute;
  left: 3px;
  top: 8px;
  display: none;
}
.contact-form form button {
  width: 100%;
  margin-top: 10px;
  border: none;
  font-size: 16px;
  padding: 16px 0;
}
.contact-form form button:hover {
  cursor: pointer;
}

.contact-block {
  background: #303030;
  padding: 50px 0;
}
.contact-block-container {
  padding: 0 175px;
  display: flex;
  align-items: center;
}
.contact-block-info {
  flex-basis: calc(100% - 410px);
  position: relative;
  padding-left: 20px;
  box-sizing: border-box;
}
.contact-block-info:before {
  content: "";
  width: 5px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #E3AD14;
}
.contact-block-info p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}
.contact-block-info ul {
  padding: 0;
  margin: 0;
}
.contact-block-info ul li {
  list-style: none;
  font-size: 16px;
  font-weight: 500;
}
.contact-block-info ul li a {
  color: #ffffff;
}
.contact-block-info h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 23px;
  margin: 0;
  color: #ffffff;
}
.contact-block-info .requisit, .contact-block-info .address, .contact-block-info .phone, .contact-block-info .mail {
  padding-left: 50px;
  position: relative;
  margin-bottom: 35px;
}
.contact-block-info .requisit:before, .contact-block-info .address:before, .contact-block-info .phone:before, .contact-block-info .mail:before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  top: -5px;
}
.contact-block-info .requisit {
  margin-bottom: 0;
}
.contact-block-info .requisit ul li {
  color: #CCCCCC;
  font-weight: 400;
}
.contact-block-info .requisit:before {
  background: url(../img/file-big.png) no-repeat center center;
}
.contact-block-info .address:before {
  background: url(../img/location-big.png) no-repeat center center;
}
.contact-block-info .phone:before {
  background: url(../img/phone-big.png) no-repeat center center;
}
.contact-block-info .mail:before {
  background: url(../img/mail-big.png) no-repeat center center;
}
.contact-block-form {
  flex-basis: 410px;
}
.contact-block-form form {
  width: 100%;
}
.contact-block-form form h3 {
  font-size: 25px;
  line-height: 35px;
  margin: 0;
  color: #ffffff;
  font-family: "Inter", "Montserrat", sans-serif;
}
.contact-block-form form p {
  margin: 5px 0 0;
  font-size: 16px;
  line-height: 23px;
  color: #ffffff;
}
.contact-block-form form span {
  margin-top: 10px;
  width: 100%;
  display: inline-block;
}
.contact-block-form form input {
  width: 100%;
  height: 40px;
  border: none;
  padding: 0 13px;
  font-size: 14px;
  color: #2D2D2D;
  box-sizing: border-box;
}
.contact-block-form form input::-moz-placeholder {
  color: #443E3E;
  opacity: 1;
}
.contact-block-form form input::-webkit-input-placeholder {
  color: #443E3E;
  opacity: 1;
}
.contact-block-form form textarea {
  width: 100%;
  height: 120px;
  resize: none;
  border: none;
  padding: 13px;
  font-size: 14px;
  color: #2D2D2D;
  box-sizing: border-box;
}
.contact-block-form form textarea::-moz-placeholder {
  color: #443E3E;
  opacity: 1;
  font-family: "Inter", "Montserrat", sans-serif;
}
.contact-block-form form textarea::-webkit-input-placeholder {
  color: #443E3E;
  opacity: 1;
  font-family: "Inter", "Montserrat", sans-serif;
}
.contact-block-form form .form-row {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}
.contact-block-form form .form-row span {
  flex-basis: 50%;
}
.contact-block-form form .agree {
  margin-top: 20px;
}
.contact-block-form form .agree input {
  display: none;
}
.contact-block-form form .agree label {
  font-size: 12px;
  line-height: 17px;
  color: #ffffff;
  padding-left: 28px;
  position: relative;
  display: inline-block;
}
.contact-block-form form .agree label.active:after {
  display: block;
}
.contact-block-form form .agree label:before {
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 2px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 2px;
  background: #ffffff;
}
.contact-block-form form .agree label:after {
  content: "";
  background: url(../img/checkbox.png) no-repeat center;
  width: 13px;
  height: 8px;
  position: absolute;
  left: 3px;
  top: 8px;
  display: none;
}
.contact-block-form form button {
  width: 100%;
  margin-top: 10px;
  border: none;
  font-size: 16px;
  padding: 16px 0;
  background: #E3AD14;
}
.contact-block-form form button:hover {
  cursor: pointer;
}

.main-footer {
  background: #202020;
  padding: 50px 0 30px;
}
.main-footer-top .container {
  display: flex;
  column-gap: 135px;
}
.main-footer-top .logo {
  flex-basis: 150px;
}
.main-footer-top .logo span {
  font-size: 12px;
  line-height: 14px;
  color: #999999;
  display: block;
  margin-top: 20px;
}
.main-footer-info {
  flex-basis: calc(100% - 275px);
}
.main-footer-info_contact {
  display: flex;
  column-gap: 25px;
  margin-top: 20px;
  justify-content: flex-end;
}
.main-footer-info_contact p {
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  margin: 0;
}
.main-footer-info_contact ul {
  margin: 0;
  padding: 0;
}
.main-footer-info_contact ul li {
  list-style: none;
}
.main-footer-info_contact ul li a {
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
}
.main-footer-info_contact .request-btn {
  margin-top: 5px;
  color: #E3AD14;
  text-decoration: underline;
  font-size: 14px;
  line-height: 19px;
  display: block;
  text-align: right;
}
.main-footer-info_contact-phone {
  padding-left: 27px;
  position: relative;
}
.main-footer-info_contact-phone:before {
  content: "";
  background: url(../img/phone.png) no-repeat center center;
  width: 21px;
  height: 21px;
  position: absolute;
  left: 0;
  top: 0;
}
.main-footer-info_contact-address {
  padding-left: 24px;
  position: relative;
}
.main-footer-info_contact-address:before {
  content: "";
  background: url(../img/location.png) no-repeat center center;
  width: 17px;
  height: 21px;
  position: absolute;
  left: 0;
  top: 0;
}
.main-footer-nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 20px;
}
.main-footer-nav ul {
  display: flex;
  padding: 0;
  margin: 0;
}
.main-footer-nav ul li {
  list-style: none;
  font-size: 16px;
  line-height: 23px;
}
.main-footer-nav ul li a {
  color: #ffffff;
}
.main-footer-nav ul li:not(:last-child) {
  margin-right: 30px;
}
.main-footer-bottom {
  margin-top: 20px;
}
.main-footer-bottom span {
  font-size: 12px;
  color: #757373;
  line-height: 17px;
}
.main-footer-bottom a {
  margin-left: 40px;
  font-size: 12px;
  color: #757373;
  line-height: 17px;
}

/*# sourceMappingURL=style.css.map */
